[settings]
VERSION: moodle2
OUTPUT_DIR: my_queries/build_

[site_variables]
DB_PREFIX_ : mdl_
NUM_COURSES : 5000
NUM_FACULTY : 1000
NUM_STUDENTS : 100000
TERM_FIELD : shortname
TERM_EXPRESSION : %-2128
FACULTY_ROLE : editinginstructor
STUDENT_ROLE : student
